<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <title th:text="${transaction}">CICS transaction</title>
</head>
<body>
<form method="post" th:action="${action}">
  <input th:if="${_csrf != null}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <input th:if="${idempotencyKey != null}" type="hidden" name="idempotencyKey" th:value="${idempotencyKey}">
  <button type="submit" th:text="${'Start ' + transaction}">Start</button>
</form>
</body>
</html>
